# Django
SECRET_KEY=<secret_key>
DEBAG=False
ALLOWED_HOSTS=[<host1>, <host2>,...]

# Celery
# CELERY_BROKER_URL=redis://localhost:6379
# CELERY_RESULT_BACKEND=redis://localhost:6379

# Celery with Redis in Docker conteiner
CELERY_BROKER_URL=redis://redis:6379
CELERY_RESULT_BACKEND=redis://redis:6379

# db PostgresSQL
POSTGRES_PASSWORD=password
DB_NAME=name
DB_USER=user
POSTGRES_HOST=host
POSTGRES_PORT=5432
